@charset "utf-8";

h1{font-family: cursive;
    color: white;
 }
 p{font-family: cursive;
   font-size: 20pt;
   color: white;  
 }
 body{background-color: rgb(0, 0, 0);
 }

 figure.img_1 img{
  border: 8px solid white;
  box-shadow: 2px 2px 6px rgb(255, 106, 0);
  height: 32%;
  width:  20%;
} 
